@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Infinite scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.whitespace-nowrap {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  width: 200%; /* Extend width to ensure continuous animation */
}

.relative .absolute {
  position: absolute;
  display: flex;
  align-items: center;
}
